<h4>Post details:</h4>
<p>
	<hr />
	<%=@row['content']%>
			<br />
			<br />
			Создан: <%=@row['created_date']%>
			<br />
</p>
<br />
<br />
<h4>Comments:</h4>

<% @comments.each do |comment| %>
	<p>
			<%= comment['content'] %>
			<br />
			<br />
			<span style="font-size: 75%; color: #999">Создан: <%= comment['created_date']%></span>
	</p>
	<hr />
<% end %>

<p>
	<form action="/details/<%=@row['id']%>" method="POST">
		  	<textarea name="content" class="form-control" rows="6" placeholder="Введите текст комментария"></textarea>
		  	<br />
		    <button type="submit" class="btn btn-primary">Комментировать</button>
	</form>
</p>